body{
    background-color: #353b48;
}

.nav .nav-item .nav-link{
 color: #ffffff;
}

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../assets/images/footer-image.avif);
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 15%;
}

.card{
    border-radius: 20px !important;
}

.card-dark{
    background-color: rgba(0, 0, 0, 0.2);
    color: #ffffff;;
}